@import "tailwindcss";
@plugin "daisyui";
*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.Container{
  background-image: url("https://img.daisyui.com/images/stock/453966.webp");
  max-height: 85vh;
  max-width: 100%;
  width: 60%;
  margin: 40px auto

}
.controls{
  font-size: 2rem;
  max-width: 100%;
}
.phone{
  margin-top: -8px;
}
.music-player{
  font-size: 1.3rem;
}
button{
  margin: 2px;
  cursor: pointer;
}
button:hover{
  transform: scale(1.5);

}
h2,p{
  font-size: 1.4rem;
}